.post-content h2 {
  border-left-color: black;
  border-left-width: 10px;
  border-left-style: solid;
  padding-left: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.post-content h3 {
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  margin-top: 24px;
  margin-bottom: 16px;
}
.post-content p {
  font-size: 18px;
  line-height: 1.6em;
}

.post-footer-ad {
  max-width: 300px;
  margin: auto;
}
