<!DOCTYPE html>
<html ⚡>

  {%- include head.html -%}

  <body>
    <amp-auto-ads type="adsense"
                  data-ad-client="ca-pub-2988052208509124">
    </amp-auto-ads>
    <amp-analytics type="googleanalytics" id="analytics1">
      <script type="application/json">
        {
          "vars": {
            "account": "UA-115619813-3"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview"
            }
          }
        }
      </script>
    </amp-analytics>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
